{% extends 'base.html' %}

{% block body %}
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="javascript:history.back()" class="logo d-flex align-items-center" style="text-decoration: none;">
        <img src="static/assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">CRDF</span>
      </a>
    </div>
    <nav class="header-nav ms-auto d-flex justify-content-end">
      {% if current_user.is_authenticated %}
      <ul class="d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link fw-bold" href="{{ url_for('logout') }}" style="padding-right: 35px;">Sair</a>
        </li>
      </ul>
      {% endif %}
    </nav>
  </header><!-- End Header -->

<body>

    <main  class="container">
        <br><br><br><br><br>
        <section class="section">
            <div class="row">
                <div class="col-lg-11.2">
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="card-title"><h4>Atualizações</h4></h2>
                            <br><br>
                            <div class="container">
                                <div class="table-responsive table-container">
                                    <table class="table table-hover text-center">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID do leito</th>
                                                <th scope="col">Hora e data do registro</th>
                                                <th scope="col">Status do leito</th>
                                                <th scope="col">Perfil do leito</th>
                                                <th scope="col">Status do paciente</th>
                                                <th scope="col">Nome do paciente</th>
                                                <th scope="col">Data de nasc.</th>
                                                <th scope="col">Idade</th>
                                                <th scope="col">Prontuário SES</th>
                                                <th scope="col">Data de admissão</th>
                                                <th scope="col">Hora de admissão</th>
                                                <th scope="col">Data do óbito</th>
                                                <th scope="col">Hora do óbito</th>
                                                <th scope="col">Data da transferência</th>
                                                <th scope="col">Hora da transferência</th>
                                                <th scope="col">Data da alta</th>
                                                <th scope="col">Hora da alta</th>
                                                <th scope="col">Nome do colaborador</th>
                                                <th scope="col">Matrícula do colaborador</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for entrada in atualizacoes_leitos %}
                                            <tr>
                                                <td>{{ entrada.id_leito }}</td>
                                                <td>{{ entrada.data_atualizacao.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                                                <td>{{ entrada.status_leito }}</td>
                                                <td>{{ entrada.perfil_leito }}</td>
                                                <td>{{ entrada.status_paciente }}</td>
                                                <td>{{ 'não se aplica' if entrada.nome_paciente is none else entrada.nome_paciente }}</td>
                                                <td>{{ 'não se aplica' if entrada.data_nascimento is none else entrada.data_nascimento.strftime('%d/%m/%Y') }}</td>
                                                <td>{{ 'não se aplica' if entrada.idade is none else entrada.idade }}</td>
                                                <td>{{ 'não se aplica' if entrada.pontuario_ses is none else entrada.pontuario_ses }}</td>
                                                <td>{{ 'não se aplica' if entrada.data_admissao is none else entrada.data_admissao.strftime('%d/%m/%Y')}}</td>
                                                <td>{{ 'não se aplica' if entrada.hora_admissao is none else entrada.hora_admissao.strftime('%H:%M:%S') }}</td>
                                                <td>{{ 'não se aplica' if entrada.data_obito is none else entrada.data_obito.strftime('%d/%m/%Y') }}</td>
                                                <td>{{ 'não se aplica' if entrada.hora_obito is none else entrada.hora_obito.strftime('%H:%M:%S') }}</td>
                                                <td>{{ 'não se aplica' if entrada.data_transferencia is none else entrada.data_transferencia.strftime('%d/%m/%Y ') }}</td>
                                                <td>{{ 'não se aplica' if entrada.hora_transferencia is none else entrada.hora_transferencia.strftime('%H:%M:%S') }}</td>
                                                <td>{{ 'não se aplica' if entrada.data_alta is none else entrada.data_alta.strftime('%d/%m/%Y ') }}</td>
                                                <td>{{ 'não se aplica' if entrada.hora_alta is none else entrada.hora_alta.strftime(' %H:%M:%S') }}</td>
                                                <td>{{ entrada.nome_colaborador }}</td>
                                                <td>{{ entrada.matricula_colaborador }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </main>
    




</body>

{% endblock %}