{% extends 'base.html' %}

{% block body %}

<body>

  
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center" style="text-decoration: none;">
        <img src="static/assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">CRDF</span>
      </a>

    </div>

      <nav class="header-nav ms-auto d-flex justify-content-end">  {% if current_user.is_authenticated %}
          <ul class="d-flex align-items-center">
            <li class="nav-item">
              <a class="nav-link fw-bold" href="{{ url_for('logout') }}" style="padding-right: 35px;">Sair</a>
            </li>
          </ul>
        {% endif %}
      </nav>
      

  </header><!-- End Header -->



  <main  class="container">

    <div class="pagetitle">
      <h1>Blank Page</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Blank</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
          <div class="col-lg-8">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Leitos</h5>
                <div class="container">
                    <form method="POST" action="{{ url_for('salvar_leito') }}" >
                        {{ form.csrf_token }}
                        <div class="row mb-3">
                            <label for="id_leito" class="col-sm-2 col-form-label">ID do leito</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="id_leito" name="id_leito">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="status_leito" class="col-sm-2 col-form-label">Status do leito</label>
                            <div class="col-sm-10">
                                <select class="form-select" id="status_leito" name="status_leito">
                                    <option selected disabled>Selecione o status</option>
                                    <option value="Opção 1">OCUPADO</option>
                                    <option value="opcao2">VAGO</option>
                                    <option value="opcao3">BLOQUEADO - PACIENTE PARTICULAR</option>
                                    <option value="opcao3">BLOQUEADO - PACIENTE PARTICULAR</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="perfil_leito" class="col-sm-2 col-form-label">Perfil do leito</label>
                            <div class="col-sm-10">
                                <select class="form-select" id="perfil_leito" name="perfil_leito">
                                    <option selected disabled>Selecione o perfil</option>
                                    <option value="opcaoA">HEMODIÁLISE</option>
                                    <option value="opcaoB">ISOLAMENTO</option>
                                    <option value="opcaoC">REGULAR</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="status_paciente" class="col-sm-2 col-form-label">Status do paciente</label>
                            <div class="col-sm-10">
                                <select class="form-select" id="status_paciente" name="status_paciente">
                                    <option selected disabled>Selecione o status</option>
                                    <option value="opcaoA">PERMANCE NO LEITO</option>
                                    <option value="opcaoB">ALTA ADM</option>
                                    <option value="opcaoC">TRANSFERIDO PARA OUTRA UNIDADE</option>
                                    <option value="opcaoD">SAIU DE ALTA</option>
                                    <option value="opcaoE">EM LISTA PARA SER TRANSFERIDO</option>
                                    <option value="opcaoF">OCUPADO COM PACIENTE PARTICULAR</option>
                                    <option value="opcaoG">VAGO</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="nome_paciente" class="col-sm-2 col-form-label">Nome do paciente</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="nome_paciente" name="nome_paciente" required>
                            </div>
                        </div>
                                                
                        <div class="row mb-3">
                            <label for="data_nascimento" class="col-sm-2 col-form-label">Data de nascimento</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="data_nascimento" name="data_nascimento">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="idade" class="col-sm-2 col-form-label">Idade</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="idade" name="idade">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="pontuario_ses" class="col-sm-2 col-form-label">Prontuário SES</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="pontuario_ses" name="pontuario_ses">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="data_admissao" class="col-sm-2 col-form-label">Data de admissão</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="data_admissao" name="data_admissao">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="hora_admissao" class="col-sm-2 col-form-label">Hora da admissão</label>
                            <div class="col-sm-10">
                                <input type="time" class="form-control" id="hora_admissao" name="hora_admissao">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="data_obito" class="col-sm-2 col-form-label">Data do óbito</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="data_obito" name="data_obito">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="hora_obito" class="col-sm-2 col-form-label">Hora do óbito</label>
                            <div class="col-sm-10">
                                <input type="time" class="form-control" id="hora_obito" name="hora_obito">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="data_transferencia" class="col-sm-2 col-form-label">Data da transferência</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="data_transferencia" name="data_transferencia">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="hora_transferencia" class="col-sm-2 col-form-label">Hora da transferência</label>
                            <div class="col-sm-10">
                                <input type="time" class="form-control" id="hora_transferencia" name="hora_transferencia">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="data_alta" class="col-sm-2 col-form-label">Data da alta</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="data_alta" name="data_alta">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="hora_alta" class="col-sm-2 col-form-label">Hora da alta</label>
                            <div class="col-sm-10">
                                <input type="time" class="form-control" id="hora_alta" name="hora_alta">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="nome_colaborador" class="col-sm-2 col-form-label">Nome do colaborador</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="nome_colaborador" name="nome_colaborador">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="matricula_colaborador" class="col-sm-2 col-form-label">Matrícula do colaborador</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="matricula_colaborador" name="matricula_colaborador">
                            </div>
                        </div> 
                        <div class="row mb-3 justify-content-center">
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="declaracao">
                                    <label class="form-check-label" for="declaracao">
                                        Declaro que os dados fornecidos estão corretos, atualizados e revisados. Portanto, me responsabilizo pelos dados fornecidos.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 justify-content-center">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>
                    </form>  
  
  
    </section>


   

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer" style="display: inline;">
    <div class="copyright">
    </div>
  </footer><!-- End Footer -->

  
  {% endblock %}
</body>

</html>