{% extends 'base.html' %}

{% block body %}

<body>

 <!-- ======= Header ======= -->
 <header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a href="javascript:history.back()" class="logo d-flex align-items-center" style="text-decoration: none;">
      <img src="static/assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">CRDF</span>
    </a>
  </div>
  <nav class="header-nav ms-auto d-flex justify-content-end">
    {% if current_user.is_authenticated %}
    <ul class="d-flex align-items-center">
      <li class="nav-item">
        <a class="nav-link fw-bold" href="{{ url_for('logout') }}" style="padding-right: 35px;">Sair</a>
      </li>
    </ul>
    {% endif %}
  </nav>
</header><!-- End Header -->

  <!-- ======= Main Content ======= -->
  <main class="container">
    <br><br><br><br><br>
    <section class="section">
      <div class="row">
        <div class="col-lg-11.5">
          <div class="card">
            <div class="card-body text-center">
              <h4 class="card-title"><h4>
                {% if hospital == "anchieta_ceilandia_sao_francisco" %}
                  ANCHIETA CEILÂNDIA (SÃO FRANCISCO)
                {% elif hospital == "hospital_ana_nery" %}
                  HOSPITAL ANA NERY
                {% elif hospital == "hospital_sao_mateus" %}
                  HOSPITAL SÃO MATEUS
                {% elif hospital == "uti_domed" %}
                  UTI DOMED
                {% elif hospital == "hospital_santa_marta" %}
                  HOSPITAL SANTA MARTA
                {% elif hospital == "hospital_home" %}
                  HOSPITAL HOME
                {% elif hospital == "hospital_daher" %}
                  HOSPITAL DAHER
                {% elif hospital == "hospital_maria_auxiliadora" %}
                  HOSPITAL MARIA AUXILIADORA
                {% elif hospital == "hospital_de_base" %}
                  HOSPITAL DE BASE
                {% elif hospital == "hospital_santa_maria" %}
                  HOSPITAL SANTA MARIA
                {% elif hospital == "hospital_da_crianca" %}
                  HOSPITAL DA CRIANÇA
                {% elif hospital == "hub" %}
                  HUB
                {% endif %}
              </h4>
              </h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Taxa de ocupação</h5>
                <canvas id="barChart" style="max-height: 400px;"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Números de Ocupação <span>/Hoje</span></h5>
                <canvas id="stackedBarChart" style="max-height: 400px;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-11.5">
          <div class="card">
            <div class="card-body text-center">
              <br><br>
              {% for tipo_leito, leitos in leitos_por_tipo.items() %}
              <br><br>
                <h5>Tipo de Leito: <strong>{{ tipo_leito }}</strong></h5>
                <br><br>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Número do Leito</th>
                      <th scope="col">ID do Leito</th>
                      <th scope="col">Status do Leito</th>
                      <th scope="col">Perfil do Leito</th>
                      <th scope="col">Atualizar</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for leito in leitos %}
                      <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ leito.id_leito }}</td>
                        <td>
                          {% if leito.status_leito == 'Vago' %}
                            {{ leito.status_leito }}
                            <button  class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                          {% else %}
                            {{ leito.status_leito }}
                            <button  class="btn btn-info"><i class="bi bi-info-circle"></i></button>
                          {% endif %}
                        </td>
                        <td>{{ leito.perfil_leito }}</td>
                        <td>
                          <a href="{{ url_for('atualizar_leito', hospital=hospital, tipo_leito=tipo_leito, numero_leito=loop.index) }}" class="btn btn-info bi bi-info-circle">Atualizar Leito</a>
                          <br><br>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End Main Content -->

  <!-- Script para renderizar o gráfico -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const hospitalName = window.location.pathname.split('/').pop();
      fetch(`/api/taxa_ocupacao_por_hospital/${hospitalName}`)
        .then(response => response.json())
        .then(taxasOcupacao => {
          if (taxasOcupacao) {
            let labels = ['Vago', 'Ocupado', 'Bloq: paciente particular', 'Bloq: manutenção'];
            let data = [
              taxasOcupacao['Vago'] || 0, // caso a chave não exista, usar 0
              taxasOcupacao['Ocupado'] || 0,
              taxasOcupacao['Bloq: paciente particular'] || 0,
              taxasOcupacao['Bloq: manutenção'] || 0
            ];

            new Chart(document.querySelector('#barChart'), {
              type: 'bar',
              data: {
                labels: labels,
                datasets: [{
                  label: 'Taxa de Ocupação',
                  data: data,
                  backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)', 
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                  ],
                  borderColor: [
                    'rgba(75, 192, 192)',
                    'rgba(255, 99, 132)', 
                    'rgba(255, 159, 64)',
                    'rgba(255, 205, 86)',
                  ],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true,
                    ticks: {
                      callback: function(value) {
                        return value.toString() + '%';
                      }
                    }
                  }
                }
              }
            });
          }
        });
      
      fetch(`/api/ocupacao_por_hospital_numeros/${hospitalName}`)
        .then((response) => response.json())
        .then((ocupacao) => {
          var ctx = document.querySelector('#stackedBarChart');
          var tipos_leitos = Object.keys(ocupacao);
          var status = ['Vago', 'Ocupado', 'Bloq: paciente particular', 'Bloq: manutenção'];  // Fixo, pois já sabemos quais são esses status
          var datasets = status.map((s, i) => ({
              label: s,
              data: tipos_leitos.map(g => ocupacao[g][s]),
              backgroundColor: [
                'rgb(75, 192, 192)', // Cor para 'Ocupado'
                'rgb(255, 99, 132)',  // Cor para 'Vago'
                'rgb(255, 205, 86)',
              ][i],
              borderWidth: 1
          }));

          new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: tipos_leitos,
                  datasets: datasets
              },
              options: {
                  plugins: {
                      title: {
                          display: true,
                          text: 'Grupos de leitos por status'
                      }
                  },
                  responsive: true,
                  scales: {
                      x: {
                          stacked: true,
                      },
                      y: {
                          stacked: true
                      }
                  }
              }
          });
      });
    });
  </script>
</body>
{% endblock %}
</html>
