{% extends 'base.html' %}

{% block body %}

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center" style="text-decoration: none;">
        <img src="static/assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">CRDF</span>
      </a>

    </div>

      <nav class="header-nav ms-auto d-flex justify-content-end">  {% if current_user.is_authenticated %}
          <ul class="d-flex align-items-center">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('create_account') }}" style="padding-left:30px;">Controle</a>
              <a class="nav-link" href="{{ url_for('logout') }}" style="padding-left: 40px;">Sair</a>
            </li>
          </ul>
        {% endif %}
      </nav>

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/atualizacoes_leitos/anchieta_ceilandia_sao_francisco">
            <i class="ri-hospital-line"></i><span>Hospital Anchieta(SF)</span><i class="ri-chevron-down ms-auto"></i>
          </a>
        </li>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>

        </ul>
      </li>

      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/atualizacoes_leitos/hospital_ana_nery">
            <i class="ri-hospital-line"></i><span>Hospital Ana Nery</span><i class="ri-chevron-down ms-auto"></i>
          </a>
        </li>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>

        </ul>
      </li>

      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/atualizacoes_leitos/hospital_da_crianca">
            <i class="ri-hospital-line"></i><span>Hospital da Criança</span><i class="ri-chevron-down ms-auto"></i>
          </a>
        </li>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>

        </ul>
      </li>

      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/atualizacoes_leitos/hospital_daher">
            <i class="ri-hospital-line"></i><span>Hospital Daher</span><i class="ri-chevron-down ms-auto"></i>
          </a>
        </li>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>

        </ul>
      </li>

    
      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/atualizacoes_leitos/hospital_de_base">
            <i class="ri-hospital-line"></i><span>Hospital de Base</span><i class="ri-chevron-down ms-auto"></i>
          </a>
        </li>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>

        </ul>
      </li>
      
      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/atualizacoes_leitos/hospital_home">
            <i class="ri-hospital-line"></i><span>Hospital Home</span><i class="ri-chevron-down ms-auto"></i>
          </a>
        </li>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>

        </ul>
      </li>
      
      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/atualizacoes_leitos/hospital_maria_auxiliadora">
            <i class="ri-hospital-line"></i><span>Hospital Maria Auxiliadora</span><i class="ri-chevron-down ms-auto"></i>
          </a>
        </li>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>

        </ul>
      </li>
      
      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/atualizacoes_leitos/hospital_santa_maria">
            <i class="ri-hospital-line"></i><span>Hospital Santa Maria</span><i class="ri-chevron-down ms-auto"></i>
          </a>
        </li>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>

        </ul>
      </li>
      
      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/atualizacoes_leitos/hospital_santa_marta">
            <i class="ri-hospital-line"></i><span>Hospital Santa Marta</span><i class="ri-chevron-down ms-auto"></i>
          </a>
        </li>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>

        </ul>
      </li>
      
      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/atualizacoes_leitos/hospital_sao_mateus">
            <i class="ri-hospital-line"></i><span>Hospital São Mateus</span><i class="ri-chevron-down ms-auto"></i>
          </a>
        </li>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>

        </ul>
      </li>
      
      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/atualizacoes_leitos/hub">
            <i class="ri-hospital-line"></i><span>HUB</span><i class="ri-chevron-down ms-auto"></i>
          </a>
        </li>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>

        </ul>
      </li>
      
      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/atualizacoes_leitos/uti_domed">
            <i class="ri-hospital-line"></i><span>UTI Domed</span><i class="ri-chevron-down ms-auto"></i>
          </a>
        </li>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>

        </ul>
      </li>
      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav"  href="/atualizacoes">
            <i class="ri-hospital-line"></i><span>Atualizações</span><i class="ri-chevron-down ms-auto"></i>
          </a>
        </li>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>

      
      <!-- End Components Nav -->

      

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">


 
            <!-- Taxas de ocupacao -->
<div class="col-12">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Taxa de Ocupação <span>/Hoje</span></h5>
      <canvas id="barChart" style="max-height: 400px;"></canvas>
      <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            var ctx = document.querySelector('#barChart');
            fetch('/api/v1/taxa_ocupacao')
            .then((response) => response.json())
            .then((taxas_ocupacao) => {
                var bedTypes = ['Vago', 'Ocupado', 'Bloq: paciente particular', 'Bloq: manutenção'];
                var occupancyRates = bedTypes.map(label => taxas_ocupacao[label]);
    
                var myBarChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: bedTypes,
                        datasets: [{
                            label: 'Taxa de Ocupação de Leitos',
                            data: occupancyRates,
                            backgroundColor: [
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(255, 99, 132, 0.2)', 
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 205, 86, 0.2)',
                            ],
                            borderColor: [
                                'rgba(75, 192, 192)',
                                'rgba(255, 99, 132)', 
                                'rgba(255, 159, 64)',
                                'rgba(255, 205, 86)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    callback: function(value, index, values) {
                                        return value + '%';
                                    }
                                }
                            }
                        }
                    }
                });
            });
        });
    </script>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="card">           <!-- Numeros de ocupacao -->
    <div class="card-body">
      <h5 class="card-title">Números de Ocupação <span>/Hoje</span></h5>
      <canvas id="stackedBarChart" style="max-height: 400px;"></canvas>
      <script>
          document.addEventListener("DOMContentLoaded", () => {
              var ctx = document.querySelector('#stackedBarChart');
              fetch('/api/v1/contagem_leitos')
              .then((response) => response.json())
              .then((contagens) => {
                  var grupos = Object.keys(contagens);
                  var status = Object.keys(contagens[grupos[0]]);
                  var datasets = status.map((s, i) => ({
                      label: s,
                      data: grupos.map(g => contagens[g][s]),
                      backgroundColor: [
                          'rgb(255, 99, 132)',
                          'rgb(75, 192, 192)',
                          'rgb(255, 205, 86)',
                      ][i],
                      borderWidth: 1
                  }));
      
                  new Chart(ctx, {
                      type: 'bar',
                      data: {
                          labels: grupos,
                          datasets: datasets
                      },
                      options: {
                          plugins: {
                              title: {
                                  display: true,
                                  text: 'Grupos por Status'
                              }
                          },
                          responsive: true,
                          scales: {
                              x: {
                                  stacked: true,
                              },
                              y: {
                                  stacked: true
                              }
                          }
                      }
                  });
              });
          });
      </script>


    </div>
  </div>
</div>
<div class="col-14">
  <div class="card">           <!-- Leitos vagos por  hospital -->
    <div class="card-body">
      <h5 class="card-title">Leitos vagos por  hospital <span>/Hoje</span></h5>
      <canvas id="barChart1"></canvas>
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          var ctx = document.querySelector('#barChart1');
          fetch('/leitos_vagos_por_hospital')
            .then((response) => response.json())
            .then((data) => {
              var hospitals = Object.keys(data);
              var datasets = [];
      
              // Definir os grupos desejados
              var groupsToDisplay = ['Adulto', 'Pediátrico', 'Neonatal', 'Coronariano', 'Trauma'];
      
              // Nomes completos dos hospitais
              const nomeHospital = {
                "anchieta_ceilandia_sao_francisco": "ANCHIETA CEI(SF)",
                "hospital_ana_nery": "HOSP. ANA NERY",
                "hospital_sao_mateus": "HOSP. SÃO MATEUS",
                "uti_domed": "UTI DOMED",
                "hospital_santa_marta": "HOSP. S.ª MARTA",
                "hospital_home": "HOSP. HOME",
                "hospital_daher": "HOSP. DAHER",
                "hospital_maria_auxiliadora": "HOSP. M.ª AUXILIADORA",
                "hospital_de_base": "HOSP. DE BASE",
                "hospital_santa_maria": "HOSP. S.ª MARIA",
                "hospital_da_crianca": "HOSP. DA CRIANÇA",
                "hub": "HUB"
              };
      
              // Cores para cada grupo
              const groupColors = [
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)', // Amarelo
                'rgb(255, 159, 64)', // Laranja
                'rgb(255, 99, 132)'  // Azul
              ];
      
              // Preparar os dados para cada grupo
              groupsToDisplay.forEach((group, index) => {
                var groupData = {
                  label: group,
                  data: hospitals.map(hospital => {
                    var total = 0;
                    // Somar os leitos vagos dos subgrupos correspondentes ao grupo atual
                    Object.keys(data[hospital]).forEach(subgroup => {
                      if (subgroup.includes(group)) {
                        total += data[hospital][subgroup];
                      }
                    });
                    return total;
                  }),
                  backgroundColor: groupColors[index], // Usar cores definidas manualmente
                  borderWidth: 1
                };
                datasets.push(groupData);
              });
      
              new Chart(ctx, {
                type: 'bar',
                data: {
                  labels: hospitals.map(hospital => nomeHospital[hospital] || hospital), // Usar os nomes completos dos hospitais
                  datasets: datasets
                },
                options: {
                  plugins: {
                    title: {
                      display: true,
                      text: 'Leitos vagos por hospital e grupo'
                    }
                  },
                  responsive: true,
                  scales: {
                    x: {
                      stacked: true
                    },
                    y: {
                      stacked: true,
                      beginAtZero: true
                    }
                  }
                }
              });
            });
        });
      </script>
      
      
      
      
      


    </div>
  </div>
</div>


          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

<!-- Recent Activity -->
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Atividade recente</h5>
    <div class="activity" id="recentActivity">
      <!-- Aqui será inserido o conteúdo da atividade recente -->
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const activityContainer = document.getElementById("recentActivity");

    fetch('/api/v1/buscar_ultimas_atualizacoes_por_hospital')
      .then((response) => response.json())
      .then((ultimasAtualizacoes) => {
        ultimasAtualizacoes.forEach((atualizacao) => {
          // Formatar a data
          const dataFormatada = new Date(atualizacao.data_atualizacao).toLocaleString('pt-BR');

          // Mapear o identificador do hospital para o nome completo
          const nomeHospital = {
            "anchieta_ceilandia_sao_francisco": "ANCHIETA CEILÂNDIA (SÃO FRANCISCO)",
            "hospital_ana_nery": "HOSPITAL ANA NERY",
            "hospital_sao_mateus": "HOSPITAL SÃO MATEUS",
            "uti_domed": "UTI DOMED",
            "hospital_santa_marta": "HOSPITAL SANTA MARTA",
            "hospital_home": "HOSPITAL HOME",
            "hospital_daher": "HOSPITAL DAHER",
            "hospital_maria_auxiliadora": "HOSPITAL MARIA AUXILIADORA",
            "hospital_de_base": "HOSPITAL DE BASE",
            "hospital_santa_maria": "HOSPITAL SANTA MARIA",
            "hospital_da_crianca": "HOSPITAL DA CRIANÇA",
            "hub": "HUB"
          };

          // Obter o nome completo do hospital
          const hospitalCompleto = nomeHospital[atualizacao.hospital] || atualizacao.hospital;

          // Criar elementos HTML para cada entrada de atividade recente
          const activityItem = document.createElement("div");
          activityItem.classList.add("activity-item", "d-flex");

          const activityLabel = document.createElement("div");
          activityLabel.classList.add("activite-label");
          activityLabel.textContent = dataFormatada;

          const activityBadge = document.createElement("i");
          activityBadge.classList.add("bi", "bi-circle-fill", "activity-badge", "align-self-start");

          const activityContent = document.createElement("div");
          activityContent.classList.add("activity-content");
          activityContent.innerHTML = `Um leito foi atualizado no ${hospitalCompleto}`;

          activityItem.appendChild(activityLabel);
          activityItem.appendChild(activityBadge);
          activityItem.appendChild(activityContent);
          activityContainer.appendChild(activityItem);
        });
      });
  });
</script>

<!-- End Recent Activity -->


<!-- Total de leitos -->
<div class="card">

  <div class="card-body pb-0">
    <h5 class="card-title">Total de leitos <span>| 335</span></h5>

    <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        echarts.init(document.querySelector("#trafficChart")).setOption({
          tooltip: {
            trigger: 'item'
          },
          legend: {
            top: '5%',
            left: 'center'
          },
          series: [{
            name: 'Total:335',
            type: 'pie',
            radius: ['40%', '70%'],
            avoidLabelOverlap: false,
            label: {
              show: false,
              position: 'center'
            },
            emphasis: {
              label: {
                show: true,
                fontSize: '18',
                fontWeight: 'bold'
              }
            },
            labelLine: {
              show: false
            },
            data: [{
                value: 205, // Valor para a categoria Adulto
                name: 'Adulto'
              },
              {
                value: 65, // Valor para a categoria Pediátrico
                name: 'Pediátrico'
              },
              {
                value: 35, // Valor para a categoria Neonatal
                name: 'Neonatal'
              },
              {
                value: 20, // Valor para a categoria Trauma
                name: 'Trauma'
              },
              {
                value: 9, // Valor para a categoria Coronariano
                name: 'Coronariano'
              }
            ]
          }]
        });
      });
    </script>









  </div>
</div>
<!-- End total de leitos -->

        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class=" bi bi-arrow-up"></i></a>

</body>

{% endblock %} -->
